<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css">
		<title>Show Page</title>
	</head>
		<nav>
			<a href="/items">Back to Shopping Page</a>
		</nav>
		<h1><%=item.name %></h1>
		Description: <%= item.description%>
		<br />
		Price: $<%= item.price %>	
		<br />
		Qty: <%= item.qty %>
		<br />
		<img src="<%= item.img %>">

		<form action="/items/<%= item._id %>/buy?_method=PUT" method="POST">
			<input type="submit" value="BUY">
		</form>

		<a href="/items/<%=item._id %>/edit">Edit</a>
	
	</body>
    </html>